body{
    background-color: rgb(215, 242, 215);
}
#profile_salutation{
    border: solid;
    margin-top: 2%;
    border-radius: 0px 0px 20px 0px;
}
#profile_button{
    border: solid;
    display: inline-block;
    height: 40px;
    border-radius: 60px;
    margin-left: 2%;
}
#salutation{
    display: inline-block;
    margin-left: 45%;
}
main{
    border: solid;
    margin-top: 2%;
}
ul{
    list-style-type: none;
    display: inline;
}
#side_nav_bar{
    border: solid;
    display: inline-block;
    width: 15%;
    height: 100vh;
}
#side_nav_bar a{
    text-decoration: none;
}
#side_nav_bar li:hover{
    background-color: green;
}
#side_nav_bar li{
    margin: 10px 10px;
    width: 90%;
}
#info_per_nav_item{
    display: inline-block;
    border: solid;
}
footer{
    text-align: center;
    font-size: small;
}