body{
    background-color: #ffdddb;
    font-size: 3vh;
    margin: 0 0;
    min-width: 304px;
}
#back_blur{
    height: 100vh;
    width: 100vw;
    background-color: rgba(59, 12, 8, 0.8);
    position: fixed;
    margin: 0px 0px;
    display: none;
}
#logo{
    background-color: #721A14;
    padding-top: 2%;
    color: white;
    padding-left: 45%;
    display: none;
    width: auto;
}
#symbol{
    color: white;
    margin-right: 30%;
}
#profile_salutation{
    border-radius: 0px 0px 5vh 0px;
    background-color: #721A14;
    padding-top: 5vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    box-shadow: 5px 6px 10px rgb(109, 108, 108);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3vw;
    width: inherit;
}
#profile_button{
    color: white;
    border: solid;
    display: flex;
    align-items: end;
    justify-content: end;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-image: url(/front-end/intern/assets/images/person_1000dp_E3E3E3_FILL0_wght400_GRAD0_opsz48.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#edit{
    border: solid white;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    display: none;
    background-image: url(/front-end/intern/assets/images/edit_1000dp_E3E3E3_FILL0_wght400_GRAD0_opsz48.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
}
#profile_button:hover{
    transition: 0.3s;
    height: 1vh auto;
    width: 10.5vh;
    cursor: pointer;
}
#profile_button:hover #edit{
    display: flex;
    transition: 0.3s;
}
#salutation{
    display: inline-block;
    color: white;
}
#profile_info{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    border: solid;
    color: white;
    background-color: #721A14;
    position: absolute;
    margin: auto;
    width: fit-content;
    padding: 2rem;
    height: auto;
    border-radius: 3vh;
}
#profile_info a{
    color: white;
    text-decoration: none;
}
#close_profile_info{
    align-self: flex-end;
    margin: -10%;
}
#close_profile_info img{
    height: 5vh;
    width: 5vh;
    padding: 1vh;
    border-radius: 3vh;
    margin: 1vh;
}
#close_profile_info img:hover{
    cursor: pointer;
    background-color: #e1372b;
}
#profile_details_1 img{
    height: 20vh;
    width: 20vh;
    border: solid;
    border-radius: 50%;
}
#profile_details_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    gap: 2vh;
}
#profile_details_1 span{
    text-align: center;
}
#profile_details_2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5vw;
}
#profile_details_2_1, #profile_details_2_2{
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
}
#edit_profile{
    border: solid;
    border-radius: 3vh;
    width: 8vw;
    height: auto;
    text-align: center;
}
#edit_profile:hover{
    background-color: #e1372b;
    cursor: pointer;
}
#supervisor_info{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    border: solid;
    color: white;
    background-color: #721A14;
    position: absolute;
    margin-left: 20%;
    width: fit-content;
    height: 70vh;
    border-radius: 3vh;
}
#supervisor_details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vh;
    margin-top: 3%;
    flex-wrap: wrap;
}
#close_supervisor_info{
    height: 5vh;
    width: 5vh;
    padding: 1vh;
    border-radius: 3vh;
    align-self: flex-end;
    margin: 1vh;
}
#close_supervisor_info:hover{
    cursor: pointer;
    background-color: #e1372b;
}
#supervisor_label{
    margin-top: -4vh;
    font-size: 4.5vh;
}
#supervisor_details img{
    height: 30vh;
    width: 30vh;
    border: solid;
    border-radius: 50%;
}
#supervisor_details span{
    text-align: center;
}
#name_and_contact{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
ul{
    list-style-type: none;
    display: inline;
}
main{
    display: flex;
}
#side_nav_bar{
    border-color:#721A14;
    display: inline-block;
    align-items: center;
    width: 15vw;
    height: 100%;
    box-shadow: 5px 6px 10px rgb(109, 108, 108);
    background-color: #721A14;
}
#side_nav_bar a{
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
}
#side_nav_bar li:hover{
    background-color: #e1372b;
}
#side_nav_bar li{
    margin: 10px 0px;
    width: 14vw;
    height: 5vh;
    padding-left: 1vw;
}
#responsive_nav{
    display: none;
    width: 10vw;
    height: 100%;
    box-shadow: 5px 6px 10px rgb(109, 108, 108);
    background-color: #721A14;
}
#responsive_nav li:hover{
    background-color: #e1372b;
}
#responsive_nav a{
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
}
#responsive_nav li{
    margin: 10px 0px;
    width: auto;
    height: auto;
    padding-left: 1vw;
}
.pic{
    display: inline-block;
    margin-top: -10%;
}
#pic{
    margin-top: -10%;
    padding-top: 4%;
}
#pic img{
    height: 4vh;
}
.logout{
    display: flex;
    justify-content: left; 
    align-items: center; 
}
.view_on_mobile{
    display: none;
}
#info_per_nav_item_dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2% 10%;
    height: 100vh;
    min-height: auto;
    flex-wrap: wrap;
    gap: 25%;
    overflow-y: scroll ;
}
#top_tasks{
    display: flex;
    justify-content: left;
    gap: 10vh;
    flex-wrap: wrap;
    align-items: center;
}
#log_book, #tasks, #announcement{
    height: 25vh;
    width: 15vw;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#log_book_img{
    background-image: url(/front-end/intern/assets/images/log_book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    width: 90%;
    height: 80%;
}
#announcements_img{
    background-image: url(/front-end/intern/assets/images/announcement.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    width: 90%;
    height: 80%;
}
#tasks_img{
    background-image: url(/front-end/intern/assets/images/tasks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    width: 90%;
    height: 80%;
}
#log_book:hover, #tasks:hover, #announcement:hover{
    scale: 1.1;
    transition: 0.3s;
    box-shadow: 0px 5px 5px 0px;
}
#log_book_follow_up{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    color: white;
    background-color: #721A14;
    position: absolute;
    width: 70vw;
    min-width: 300px;
    height: 80vh;
    max-height: 600px;
    border-radius: 3vh;
    margin-left: -10%;
    margin-top: -2%;
}
#calendar_close{
    height: 6vh;
    min-width: 30px;
    width: 4%;
    margin-left: auto;
    margin-right: 1vw;
    margin-bottom: 2vh;
    border-radius: 1rem;
}
#calendar_close:hover{
    background-color: #e1372b;
    cursor: pointer;
}
#calendar{
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vh;
    border-radius: 2vh;
    overflow: hidden;
    margin-bottom: 2%;
}
#head{
    display: flex;
    width: 90%;
    margin: 4%;
}
#next{
    margin-left: auto;
}
#next, #prev{
    cursor: pointer;
}
#month_year{
    width: 100%;
    text-align: center;
}
#weekdays{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
    width: 100%;
}
#weekdays div{
    width: 14.2%;
    text-align: center;
}
#days div{
    width: 14.2%;
    text-align: center;
    border-radius: 1vh;
    margin-bottom: 2%;
    height: 6vh;
}
#days{
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
}
#days div{
    cursor: pointer;
    transition: background-color 0.3s;
}
#days div:hover{
    color: #e1372b;
    background-color:#ffdddb;
}
#days .today{
    background-color: #e1372b;
    color: #ffdddb;
}
#days .fade{
    color: #9c9a9a;
}
#days .internship_span{
    background-color: green;
}
#log_book_follow_up a{
    color: white;
    text-decoration: none;
    width: fit-content;
    margin-top: 3%;
}
#fill{
    border: solid;
    width: 6vw;
    min-width: 70px;
    text-align: center;
    border-radius: 8vw;
}
#fill:hover{
    background-color: #e1372b;
    cursor: pointer;
}
#info_per_nav_item_fellow_interns{
    display: none;
    flex-direction: row;
    width: 100%;
    padding: 2% 10%;
    height: 100vh;
    min-height: auto;
    gap: 10%;
}
.interns_holder{
    height: 40%;
    width: 23%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#intern_1_image, #intern_2_image, #intern_3_image{
    width: 100%;
    border: solid;
    height: 80%;
    border-radius: 50%;
    margin-bottom: 5%;
    background-image: url(/front-end/intern/assets/images/person_1000dp_E3E3E3_FILL0_wght400_GRAD0_opsz48.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#info_per_nav_item_settings{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2% 10%;
    height: 100vh;
    min-height: auto;
    gap: 25%;
}
#font_alter{
    border: 2px solid #721A14;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    flex-wrap: wrap;
}
#font_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.5rem;
}
.fonts{
    display: flex;
    align-items: center;
}
#font_toogle_1, #font_toogle_2, #font_toogle_3, #font_toogle_4, #font_toogle_5{
    border: solid;
    border-radius: 50%;
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #721A14;
    cursor: pointer;
}
#font_toogle_1{
    background-color: #721A14;
    border: 2px solid white;
}
#color_alter{
    border: 2px solid #721A14;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
#color_list{
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    flex-direction: row;
}
#color_toogle_1, #color_toogle_2, #color_toogle_3, #color_toogle_4, #color_toogle_5{
    border: solid;
    border-radius: 50%;
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #721A14;
    cursor: pointer;
}
#color_toogle_1{
    background-color: #721A14;
    border: 2px solid white;
}
.colors{
    display: flex;
    width: fit-content;
    align-items: center;
}

#tasks_view{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    color: white;
    background-color: #721A14;
    position: absolute;
    width: 30vw;
    min-width: 300px;
    height: 60vh;
    max-height: 600px;
    border-radius: 2rem;
    margin-left: -10%;
    margin-top: -2%;
    gap: 3rem;
}
#new_task_button, #overview_task_button{
    border: solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
#new_task_button:hover, #overview_task_button:hover{
    background-color: #e1372b;
    scale: 1.1;
    transition: 0.3s;
}
#tasks_view img{
    margin-bottom: 10%;
    margin-top: -30%;
    margin-left: 85%;
    width: 2.5rem;
    cursor: pointer;
    border-radius: 1rem;
}
#tasks_view img:hover{
    background-color: #e1372b;
}
#tasks_view a{
    color: white;
    text-decoration: none;
}

#new_announcements_pop{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    color: white;
    background-color: #721A14;
    position: absolute;
    width: 60vw;
    min-width: 250px;
    height: fit-content;
    padding: 2rem;
    max-height: 600px;
    border-radius: 2rem;
    margin-left: -10%;
    margin-top: -2%;
    gap: 3rem;
}
#message_holder{
    border: solid;
    color: white;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
#message_date{
    text-align: end;
}
#new_announcements_pop img{
    width: 2.5rem;
    cursor: pointer;
    border-radius: 1rem;
    margin-left: auto;
    margin-top: -2%;
}
#new_announcements_pop img:hover{
    background-color: #e1372b;
}
#info_per_nav_item_annoncements{
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 2% 5%;
    height: 100vh;
    min-height: auto;
    gap: 10%;
    overflow-y: scroll;
}
#deadline{
    height: fit-content;
    border: solid;
}
footer{
    background-color: rgb(114, 114, 114);
    text-align: center;
    font-size: x-small;
}

@media screen and (max-width: 1050px) {
    #info_per_nav_item_fellow_interns{
        flex-wrap: wrap;
        gap: 5%;
    }

}
@media screen and (max-width: 900px) {
    #side_nav_bar{
        display: none;
    }
    #responsive_nav{
        display: inline-block;
    }
    #responsive_nav img{
        padding: 1vw;
        width: 4vw;
    }
    #log_book, #tasks, #announcement{
        height: 30vh;
        width: 25vw;
        border-radius: 2vh;
    }
    #top_tasks{
        gap: 5vh;
    }
}
@media screen and (max-width: 800px) {
    #responsive_nav{
        width: 8vw;
    }
    #responsive_nav img{
        width: 5vw;
    }
}
@media screen and (max-width: 700px) {
    #responsive_nav img{
        width: 5vw;
    }
    #edit_profile{
        width: 12vw;
    }
    #log_book, #tasks, #announcement{
        height: 30vh;
        width: 31vw;
        border-radius: 2vh;
    }
    #supervisor_details{
        flex-direction: column;
    }
    #info_per_nav_item_settings{
        gap: 15%;
    }
}
@media screen and (max-width: 600px) {
    #responsive_nav{
        width: 10vw;
    }
     #responsive_nav img{
        width: 6vw;
    }
    #log_book, #tasks, #announcement{
        height: 30vh;
        width: 30vw;
        border-radius: 2vh;
    }
    #symbol{
        display: none;
    }
    #logo{
        display: block;
    }
    #profile_salutation{
        justify-content: center;
        width: auto;
    }
}
@media screen and (max-width: 656px) {
    #info_per_nav_item_settings{
        gap: 5%;
        /* height: max-content; */
        overflow-y: scroll;
    }
}
@media screen and (max-width: 650px) {
    #new_announcements_pop{
        gap: 1rem;
        max-height: 550px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 575px) {
    .interns_holder{
        height: 35%;
        width: 23%;
        min-width: 150px;
    }
}
@media screen and (max-width: 550px) {
    #profile_details_1{
        width: 20vh;
        flex-direction: column;
    }
    #profile_info{
        height: fit-content;
        margin-left: 7%;
    }
    #edit_profile{
        width: 15vw;
    }
}
@media screen and (max-width:500px) {
    #message_holder{
        border: solid;
        color: white;
        display: flex;
        gap: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 481px) {
    #info_per_nav_item_fellow_interns{
        gap: 2%;
        overflow-y: scroll;
    }
}
@media screen and (max-width: 450px) {
    #log_book, #tasks, #announcement{
        height: 20vh;
        width: 40vw;
        border-radius: 2vh;
    }
    #info_per_nav_item_dashboard{
        height: max-content;
        gap: 5vh;
    }
    #top_tasks{
        justify-content: center;
    }
    #edit_profile{
        width: 20vw;
    }
    #new_announcements_pop{
        height: 430px;
    }
    #color_list, #font_list{
        flex-direction: column;
    }
}
@media screen and (max-width: 350px) {
    #responsive_nav{
        width: 12vw;
    }
    #responsive_nav img{
        width: 7vw;
    }
    #supervisor_details img{
        height: 20vh;
        width: 20vh;
    }
    #supervisor_label{
        font-size: 3.5vh;
    }
    #supervisor_info{
        min-width: 70vw;
    }
    #profile_details_1 img{
        height: 15vh;
        width: 15vh;
        border: solid;
        border-radius: 50%;
    }
    #profile_info{
        min-width: 200px;
    }
}