body{
    background-color: rgb(215, 242, 215);
    margin: 0 0;
}
#logo{
    background-color: rgb(0, 95, 0);
    padding-top: 2%;
}
#profile_salutation{
    border-color:rgb(0, 95, 0);
    border-radius: 0px 0px 5vh 0px;
    background-color: rgb(0, 95, 0);
}
#profile_button{
    border: solid;
    display: inline-block;
    height: 40px;
    border-radius: 60px;
    margin-left: 2%;
}
#salutation{
    display: inline-block;
    margin-left: 45%;
}
main{
}
ul{
    list-style-type: none;
    display: inline;
}
#side_nav_bar{
    border-color:rgb(0, 95, 0);
    display: inline-block;
    width: 15vw;
    height: 100vh;
    box-shadow: 5px 6px 10px rgb(109, 108, 108);
    z-index: 999;
    background-color: rgb(0, 95, 0);
}
#side_nav_bar a{
    text-decoration: none;
    display: block;
}
#side_nav_bar li:hover{
    background-color: rgb(0, 142, 0);
}
#side_nav_bar li{
    margin: 10px 0px;
    width: 14vw;
    height: 5vh;
    color: black;
    padding-left: 1vw;
}
#info_per_nav_item{
    display: inline-block;
    border: solid;
}
footer{
    text-align: center;
    font-size: small;
}