body{
    background-color: #ffdddb;
    font-size: 3vh;
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25%;
    flex-wrap: wrap;
}
#profile_details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    width: 100%;
    flex-wrap: wrap;
}
#image_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
#picture_change{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    border-radius: 5vh;
    height: 40vh;
    width: 20vw;
    color: grey;
    background-color: grey;
    opacity: 60%;
    min-width: 250px;
}
#plus{
    color: black;
    font-size: 8vw;
}
#info{
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 2vh;
    max-width: 400px;
}
#name, #contact, #course, #option, #sex{
    width: auto;
    height: 4vh;
    border-radius: 2vh;
}
select{
    margin-bottom: 4.6vh;
}
#questions{
    display: flex;
    flex-direction: column;
    height: inherit;
    flex-grow: 1;
    gap: 5vh;
}
#answers{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 90%;
    max-width: 350px;
    min-width: 200px;
}
button{
    color: white;
    background-color: #721A14;
    width: 15vh;
    height: 6vh;
    border-radius: 1vh;
    margin-top: 2%;
}