body{
    background-color: rgb(255, 233, 233);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dark_background{
    position: fixed;
    width: 100vw;
    height: 110vh;
    background-color: rgba(59, 12, 8, 0.8);
    z-index: 999;
    display: none;
    margin-top: -5%;
    border: solid red;
}
#perform_popup{
    border: solid;
    display: none;
    z-index: 9999;
    color: white;
    background-color:#721A14;
    position: fixed;
    padding: 2rem;
    border-radius: 1rem;
    flex-direction: column;
    gap: 1.5rem;
    width: 60%;
    max-width: 800px;
    margin-top: 4%;
}
#close_button_wrapper{
    margin-left: auto;
    scale: 1.2;
    border-radius: 0.5rem;
    margin-top: -1%;
    cursor: pointer;
    padding: 0.5rem;
}
#close_button_wrapper:hover{
    background-color: #c02d22;
    transition: 0.3s;
}
#submission_wrapper_1{
    display: flex;
    gap: 2rem;
}
#submission_wrapper_2{
    display: flex;
    gap: 2rem;
    height: 15rem;
}
#task_name{
    margin-left: 7rem;
    width: 100%;
    border-radius: 0.5rem;
}
#task_description{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    max-height: inherit;
}
#task_submit_button{
    border: 0.5px solid white;
}
#button_wrapper{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}
#button_wrapper button{
    height: 2rem;
    width: 7rem;
    border-radius: 0.5rem;
    background-color: #721A14;
    color: white;
    cursor: pointer;
}
#button_wrapper button:hover{
    scale: 1.1;
    transition: 0.3s;
    background-color: #c02d22;
}
#container{
    /* border: solid; */
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.tasks_container{
    border: 1px solid #721A14;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px 0px;
}
.specific_task_container{
    border: 1px solid #721A14;
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
    padding: 1rem;
}
.task_number{
    border: solid;
    padding: 0.5rem 0.8rem;
    color: white;
    background-color: #721A14;
    border-radius: 50%;
    height: fit-content;
}
.dates{
    display: flex;
    gap: 8rem;
}
.submission_details{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.deadline{
    color: red;
}
.button_wrapper{
    display: flex;
    justify-content: center;
}
.button_wrapper button{
    background-color: #721A14;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}
.button_wrapper button:hover{
    background-color: #e1372b;
    cursor: pointer;
    scale: 1.1;
    transition: 0.3s;
}
.summary_container{
    border: 1px solid #721A14;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px 0px;
}
.charts{
    display: flex;
}
.chart_wrapper{
    display: flex;
    flex-direction: column;
    border: solid;
    margin: 1rem;
    height: 25vh;
    align-items: center;
}
.chart_wrapper div{
    border: solid;
}
.section_title{
    font-size: x-large;
    color: #721A14;
}
.section_title_secondary{
    font-size: larger;
}

footer{
    text-align: center;
}
@media screen and (max-width: 1033px) {
    .dates{
        gap: 4rem;
    }
}
@media screen and (max-width: 820px) {
    .dates{
        flex-direction: column;
        gap: 1rem;
    }
}
@media screen and (max-width: 650px) {
    .specific_task_container{
        gap: 0.7rem;
        flex-direction: column;
    }
    .task_number{
        width: fit-content;
    }
}
@media screen and (max-width: 600px) {
    #container{
        padding: 1.5rem;
    }
}
@media screen and (max-width: 450px) {
    .charts{
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {
    #container{
        padding: 0.5rem;
    }
    .tasks_container{
        padding: 1rem;
    }
}