/* fonts */
/* @font-face {
    font-family: ;
    src: url();
}
@font-face {
    font-family: ;
    src: url();
}
@font-face {
    font-family: ;
    src: url();
} */
/* color variables declaration */

:root{
    --background_color: #721A14;
    --body_background_color: #ffdddb;
    --hover_color: #e1372b;
    --content_modified_color: white;
    /* font-family: ; */
}
/* :root[theme="dark"]{
    --background_color: black;
    --body_background_color: white;
    --hover_color: white;
    --content_modified_color: blue;
} */
body{
    height: fit-content;
    margin: 0;
    background-color: var(--body_background_color);
}
#back_blur{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000eb;
    opacity: 85%;
}
header{
    display: flex;
    padding: 2% 3%;
    border-radius: 0 0 25px 0;
    background-color: var(--background_color);
    color: var(--content_modified_color);
    box-shadow: 5px 6px 10px rgb(109, 108, 108);
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile_and_salutation_wrapper{
    display: flex;
    width: 80%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
#profile{
    border: solid;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: url(/front-end/Supervisor/assets/images/person_1000dp_E3E3E3_FILL0_wght400_GRAD0_opsz48.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#edit_pencil{
    border: solid;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: url(/front-end/Supervisor/assets/images/edit_1000dp_E3E3E3_FILL0_wght400_GRAD0_opsz48.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: slategray;
    display: none;
}
#profile:hover{
    scale: 1.15;
    cursor: pointer;
    transition: 0.3s;
}
#profile:hover #edit_pencil{
    display: block;
    transition: 0.3s;
}

/* main page */
main{
    display: flex;
    height: 85vh;
    justify-content: center;
}

/* pop ups */

/* create task pop up */
#create_task_pop{
    border: solid;
    position: absolute;
    z-index: 9999;
    margin-top: -3rem;
    background-color: var(--background_color);
    color: var(--content_modified_color);
    padding: 2rem;
    border-radius: 1rem;
    display: none;
    flex-direction: column;
    gap: 2rem;
    width: 45vw;
    height: fit-content;
    min-width: 240px;
}
.pop_close{
    margin-left: auto;
    border-radius: 0.5rem;
    margin-top: -25px;
    padding: 0.5rem;
    position: relative;
    left: 25px;
}
.pop_close:hover{
    background-color: var(--hover_color);
    cursor: pointer;
}
.all_task_details_wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 400px;
    overflow-y: auto;
}
#task_title_wrapper{
    display: flex;
    gap: 4rem;
}
#task_title{
    border-radius: 0.5rem;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
}
#task_description_wrapper{
    height: 12rem;
    display: flex;
    gap: 1rem;
}
#task_description{
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1rem;
    max-height: 95%;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
#task_resource_wrapper{
    display: flex;
    gap: 1rem;
}
#task_resource_sub_wrapper{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#task_resource{
    width: 95%;
    height: 1.7rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
#task_resource_button_wrapper{
    display: flex;
    align-items: flex-start;
}
#add_resource_button{
    color: var(--content_modified_color);
    background-color:var(--background_color);
    border: 2px solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
#add_resource_button:hover{
    background-color: var(--hover_color);
    scale: 1.1;
    cursor: pointer;
    transition: 0.3s;
}
#create_task_button_wrapper{
    text-align: center;
}
#create_task_button_wrapper button{
    color: var(--content_modified_color);
    background-color:var(--background_color);
    border: 2px solid;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
#create_task_button_wrapper button:hover{
    background-color: var(--hover_color);
    scale: 1.1;
    cursor: pointer;
    transition: 0.3s;
}

/* profile view pop */
#profile_view_pop{
    border: solid;
    position: absolute;
    z-index: 9999;
    margin-top: -3rem;
    background-color: var(--background_color);
    color: var(--content_modified_color);
    padding: 2rem;
    border-radius: 1rem;
    display: none;
    flex-direction: column;
    width: 35vw;
    height: fit-content;
    min-width: 240px;
    align-items: center;
    gap: 1rem;
}
#profile_view_pop_pic{
    border: solid;
    border-radius: 50%;
}
.supervisor_details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.details_wrapper{
    display: flex;
    gap: 1rem;
}
#edit_profile{
    border: solid;
    width: 5rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
#edit_profile:hover{
    background-color: var(--hover_color);
    transition: 0.3s;
    scale: 1.1;
}

/*assigned interns pop up */
#assigned_interns_pop{
    border: solid;
    position: absolute;
    z-index: 9999;
    margin-top: -3rem;
    background-color: var(--background_color);
    color: var(--content_modified_color);
    padding: 2rem;
    border-radius: 1rem;
    display: none;
    width: 35vw;
    height: fit-content;
    min-width: 240px;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.all_assigned_interns_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 400px;
    overflow: auto;
}
.intern_container{
    display: flex;
    border: 1px solid;
    border-radius: 0.5rem;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}
.intern_brief_details{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* announcements pop up */
#announcements_pop{
    border: solid;
    position: absolute;
    z-index: 9999;
    margin-top: 3rem;
    background-color: var(--background_color);
    color: var(--content_modified_color);
    padding: 2rem;
    border-radius: 1rem;
    display: none;
    width: 20vw;
    height: fit-content;
    min-width: 240px;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.announcement_button{
    border: solid;
    padding: 1rem;
    border-radius: 0.5rem;
}
.announcement_button:hover{
    background-color: var(--hover_color);
    cursor: pointer;
    scale: 1.1;
    transition: 0.3s;
}

/* new_announcements_pop */
#new_announcements_pop{
    border: solid;
    position: absolute;
    z-index: 9999;
    margin-top: 0rem;
    background-color: var(--background_color);
    color: var(--content_modified_color);
    padding: 2rem;
    border-radius: 1rem;
    display: none;
    width: 40vw;
    height: fit-content;
    min-width: 240px;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.all_messages_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 300px;
    overflow: auto;
}
.message_wrapper{
    border: 1px solid;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.new_announcements_message{
    text-align: justify;
    line-height: 1.5rem;
}
.message_date_details{
    display: flex;
    gap: 2rem;
}
.message_author_wrapper{
    align-self: flex-end;
}
/* continuation*/
#side_nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 15rem;
    min-width: 170px;
    gap: 2px;
    background-color: var(--background_color);
    color: var(--content_modified_color);
    box-shadow: 5px 6px 10px rgb(109, 108, 108);
}
.nav_options{
    padding: 5%;
}
a{
    text-decoration: none;
    color: var(--content_modified_color);
}
.nav_options:hover{
    cursor: pointer;
    background-color: var(--hover_color);
}
#responsive_nav{
    display: none;
    flex-direction: column;
    padding: 1rem;
    gap: 2px;
    background-color: var(--background_color);
    color: var(--content_modified_color);
    box-shadow: 5px 6px 10px rgb(109, 108, 108);
    position: relative;
    left: 0;
}
.show_on_mobile{
    display: none;
}
/* info per nav item */
#info_per_nav_item{
  width: 100%;  
}

/* dashbooard display/window */
#nav_option_dashboard_display{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#dashboard_display_wrapper{
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 2rem;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 12rem;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    color: black;
}
.container:hover{
    scale: 1.1;
    transition: 0.3s;
    box-shadow: 0px 5px 10px 0px;
    cursor: pointer;
}
.container_picture{
    height: 80%;
    border: solid;
    width: 11rem;
    border-radius: 1rem;
}

#nav_option_intern_details_display{
    display: none;
}
#nav_option_announcements_display{
    display: none;
}

/* settings display/window */
#nav_option_settings_display{
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.settings_section_wrapper{
    border: solid var(--background_color);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.setting_options_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.setting_fonts, .setting_colours{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.setting_select_button_font, .setting_select_button_color{
    border: solid var(--background_color);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}
.setting_select_button_color:hover, .setting_select_button_font:hover{
    cursor: pointer;
}
.active_colour, .active_font{
    border: solid var(--content_modified_color);
    background-color: var(--background_color);
}


#nav_option_personal_summary_display{
    display: none;
}
footer{
    background-color: rgb(95, 95, 95);
    text-align: center;
}
@media screen and (max-width: 850px) {
    #side_nav{
        display: none;
    }
    #responsive_nav{
        display: flex;
    }
    #create_task_pop{
        width: 60vw;
    }
    #new_announcements_pop{
        width: 55vw;
        padding: 1.5rem;
    }
    .message_date_details{
        flex-direction: column;
        gap: 1rem;
    }
    #task_title_wrapper, #task_description_wrapper{
        flex-direction: column;
        gap: 0.5rem;
    }
    #task_resource_wrapper{
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }
    #task_resource_sub_wrapper{
        width: 90%;
    }
    #task_description{
        height: 100%;
    }
}
@media screen and (max-width: 646px) {
    #dashboard_display_wrapper{
        overflow: scroll;
    }
}
@media screen and (max-width: 550px) {
    #nav_option_settings_display{
        overflow: scroll;
    }
}
@media screen and (max-width: 355px) {
    #dashboard_display_wrapper{
        padding: 0;
        padding-top: 5%;
    }
}