body{
    background-color: rgb(215, 242, 215);
    font-size: 3vh;
    margin: 0 0;
}
#logo{
    background-color: rgb(0, 95, 0);
    padding-top: 2%;
    color: white;
    padding-left: 45%;

}
#profile_salutation{
    border-color:rgb(0, 95, 0);
    border-radius: 0px 0px 5vh 0px;
    background-color: rgb(0, 95, 0);
    padding-top: 5vh;
    padding-bottom: 2vh;
    box-shadow: 5px 6px 10px rgb(109, 108, 108);
}
#profile_button{
    border: solid;
    display: inline-block;
    height: 8vh;
    border-radius: 50%;
    margin-left: 2%;
}
#salutation{
    display: inline-block;
    margin-left: 35%;
    color: white;
}
ul{
    list-style-type: none;
    display: inline;
}
main{
    display: flex;
}
#side_nav_bar{
    border-color:rgb(0, 95, 0);
    display: inline-block;
    width: 15vw;
    height: 100vh;
    box-shadow: 5px 6px 10px rgb(109, 108, 108);
    z-index: 999;
    background-color: rgb(0, 95, 0);
}
#side_nav_bar a{
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
}
#side_nav_bar li:hover{
    background-color: rgb(0, 142, 0);
}
#side_nav_bar li{
    margin: 10px 0px;
    width: 14vw;
    height: 5vh;
    padding-left: 1vw;
}
#responsive_nav{
    border-color:rgb(0, 95, 0);
    display: none;
    width: 7vw;
    height: 100vh;
    box-shadow: 5px 6px 10px rgb(109, 108, 108);
    z-index: 999;
    background-color: rgb(0, 95, 0);
}
#responsive_nav li:hover{
    background-color: rgb(0, 142, 0);
}
#responsive_nav a{
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
}
#responsive_nav li{
    margin: 10px 0px;
    width: auto;
    height: auto;
    padding-left: 1vw;
}
.view_on_mobile{
    display: none;
}
#info_per_nav_item{
    width: 100%;
    padding: 2% 10%;
    height: 90vh;  
}
#top_tasks{
    display: flex;
    justify-content: left;
    gap: 15vh;
    flex-wrap: wrap;
    align-items: center;
}
#log_book, #tasks{
    border: solid;
    height: 25vh;
    width: 15vw;
    border-radius: 2vh;
}
#deadline{
    margin-top: 20vh;
    border: solid;
}
footer{
    background-color: rgb(114, 114, 114);
    text-align: center;
    font-size: x-small;
}
@media screen and (max-width: 900px) {
    #side_nav_bar{
        display: none;
    }
    #responsive_nav{
        display: inline-block;
    }
    #responsive_nav img{
        padding: 1vw;
        width: 4vw;
    }
    #log_book, #tasks{
        border: solid;
        height: 30vh;
        width: 20vw;
        border-radius: 2vh;
    }
    #top_tasks{
        gap: 5vh;
    }
}
@media screen and (max-width: 800px) {
    #responsive_nav{
        width: 8vw;
    }
    #responsive_nav img{
        width: 5vw;
    }
}
@media screen and (max-width: 700px) {
    #responsive_nav img{
        width: 5vw;
    }
    #log_book, #tasks{
        border: solid;
        height: 30vh;
        width: 31vw;
        border-radius: 2vh;
    }
}
@media screen and (max-width: 600px) {
    #responsive_nav{
        width: 10vw;
    }
     #responsive_nav img{
        width: 6vw;
    }
    #log_book, #tasks{
        border: solid;
        height: 30vh;
        width: 30vw;
        border-radius: 2vh;
    }
}
@media screen and (max-width: 450px) {
    #log_book, #tasks{
        border: solid;
        height: 30vh;
        width: 40vw;
        border-radius: 2vh;
    }
    #top_tasks{
        justify-content: center;
    }
}
@media screen and (max-width: 350px) {
    #responsive_nav{
        width: 12vw;
    }
     #responsive_nav img{
        width: 10vw;
    }
}