:root{
    --background_color: #721A14;
    --body_background_color: #ffdddb;
    --hover_color: #e1372b;
    --content_modified_color: white;
    /* font-family: ; */
}

/* :root[theme="dark"]{
    --background_color: black;
    --body_background_color: white;
    --hover_color: white;
    --content_modified_color: blue;
} */

body{
    background-color: var(--body_background_color);
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 4rem;
    flex-direction: column;
    gap: 3rem;
}
#back_blur{
    position: fixed;
    height: 100%;
    margin-top: -4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.799);
    display: none;
    z-index: 5;
}
.evaluate_pop{
    border: solid;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--background_color);
    color: var(--content_modified_color);
    display: none;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    bottom: 40%;
    z-index: 10;
}
.pop_close{
    margin-left: auto;
    border-radius: 0.5rem;
    margin-top: -15px;
    padding: 0.2rem;
    position: relative;
    left: 15px;
}
.pop_close:hover{
    background-color: var(--hover_color);
    cursor: pointer;
}
.evaluate_message{
    text-align: center;
}
.mark_and_grade{
    display: flex;
    gap: 5rem;
    align-items: center;
}
.mark{
    height: 1rem;
    padding: 0.5rem;
    font-size: larger;
    border-radius: 0.5rem;
}
.errors{
    color: red;
}
#record_button{
    background-color: var(--background_color);
    color: var(--content_modified_color);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}
.search_wrapper{
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
}
.search{
    height: 2rem;
    border-radius: 1rem;
    padding: 0.2rem;
    font-size: large;
}
#search_button{
    background-color: var(--background_color);
    color: var(--content_modified_color);
    border-radius: 1rem;
    padding: 0 1rem;
}
.task_wrapper{
    border: solid;
    background-color: var(--content_modified_color);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 55%;
    min-width: 260px;
}
.intern_wrapper{
    border: 2px solid var(--background_color);
    display: flex;
    border-radius: 0.5rem;
    gap: 3rem;
    padding: 0.5rem;
}
.serial_number{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--background_color);
    color: var(--content_modified_color);
    flex-shrink: 0;
}
.intern_and_task_details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.intern_details_image{
    border: 1px solid var(--background_color);
    border-radius: 50%;
}
.intern_details_wrapper{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.intern_details_text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.task_details_wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.grade_button_wrapper, .button_wrapper{
    text-align: center;
}
.evaluate_button, #record_button{
    color: var(--content_modified_color);
    background-color: var(--background_color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.evaluate_button:hover, #record_button:hover, #search_button:hover{
    background-color: var(--hover_color);
    scale: 1.1;
    transition: 0.3s;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .intern_wrapper{
        gap: 1rem;
        flex-wrap: wrap;
    }
    .task_wrapper{
        width: 75%;
    }
}
@media screen and (max-width: 550px) {
    .mark_and_grade{
        flex-direction: column;
        gap: 2rem;
    }
    .evaluate_pop{
        bottom: 30%;
    }
    .mark{
        width: 50%;
    }
}